.copyright_text {
  padding-left: 1.4rem;
}

.footer {
  position: absolute;
  display: inline-block;
  width: calc(100% - 32px);
  bottom: 0;
  background-color: black;
  color: white;
  padding: 1rem;  
}