<h1 class="section-heading">Students List</h1>
<div class="container text-right">
    <label for="searchTerm">Search: </label>
    <input type="text" class="input-text" id="searchTerm" [(ngModel)]="searchTerm" placeholder=" Type Here" autofocus>
</div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of studentArray | search:searchTerm; let i = index">
              <td class="cursor-pointer" (click)="alertStudent(student.id + student.name + student.email)">{{ student.id }}</td>
              <td>{{ student.name }}</td>
              <td>{{ student.email }}</td>
              <td>{{ student.genderStr }}</td>
              <!-- <td *ngIf="student.gender === 0">Female</td>
              <td *ngIf="student.gender === 1">Male</td>
              <td *ngIf="student.gender === 2">Transgender</td>
              <td *ngIf="student.gender === 3">Other Gender</td>
              <td *ngIf="student.gender === null">Not Known</td> -->
              <td>
                  <button (click)="onView(student)">View</button>
                  <button (click)="onRemove(student)">Remove</button>
              </td>
            </tr>
        </tbody>
    </table>
