<nav class="navbar">
    <div class="logo-container">
        <a routerLink="/home" >
            <img class="logo_img" src="../assets/images/logo.png" alt="logo">
            <img class="logo_glow_img" src="../assets/images/logo_glow.png" alt="logo">
        </a>
    </div>
    <ul>
        <a routerLink="/home" ><li routerLinkActive="activelink">Home</li></a>
        <a routerLink="/products" ><li routerLinkActive="activelink">Products</li></a>
        <a routerLink="/services" ><li routerLinkActive="activelink">Services</li></a>
        <a routerLink="/about" ><li routerLinkActive="activelink">About Us</li></a>
        <a routerLink="/contact" ><li routerLinkActive="activelink">Contact Us</li></a>
    </ul>
</nav>