<nav class="navbar">
    <div class="logo-container">
        <a routerLink="/home" >
            <img class="logo_img" src="../assets/images/logo.png" alt="logo">
            <img class="logo_glow_img" src="../assets/images/logo_glow.png" alt="logo">
        </a>
    </div>
    <ul>
        <a routerLink="/home" ><li>Home</li></a>
        <a routerLink="/products" ><li>Products</li></a>
        <a routerLink="/services" ><li>Services</li></a>
        <a routerLink="/about" ><li>About Us</li></a>
        <a routerLink="/contact" ><li>Contact Us</li></a>
    </ul>
</nav>
<router-outlet></router-outlet>