.student_info_data,
.student_info {
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.student_info_data {
  font-weight: normal;
}
.student_info_table {
  // width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  // margin-bottom: 1.5rem;
}
.student_info_table td:nth-child(1) {
  width: 13rem;
}
.student_info_table td:nth-child(2) {
  width: 15rem;
}

td {
  border-bottom: 2px solid #b2ddcf;
}