.student_info {
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
.student_info_table {
  min-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  // margin-bottom: 1.5rem;
}